<!DOCTYPE html>

<html class="<%= title %>" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Routes</title>
    <link rel="shortcut icon" href="https://mondfruitapp.com/favicon.ico" type="image/x-icon">

    <!--Uppy-->
    <link href="https://releases.transloadit.com/uppy/v1.31.0/uppy.min.css" rel="stylesheet">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
   <!--Custom CSS-->
    <link rel="stylesheet" href="/main.css">
    

  </head>
  <body>

    <% if(title !=='Login'){ %>
      <%- include('partials/navbar')%> 
      <% }  %>
     
    <div class="container">
        <%- include('partials/alert.ejs')%>

        <%- body %>
    </div>
    


    <div class="overlay hide">
    </div>
    
    <script src="/index.js"></script>
  </body>
</html>