<section class="section">
    <div class="container" style="text-align: center;padding-top: 12vh;">
        <span class="icon">
            <i class="far fa-user-circle" style="width: 67px;font-size: 70px;color: #e0e0e0;"></i>
          </span>

        <h1 style="font-size: 1.5em;font-weight: bold;margin-top: 20px;">Welcome Back</h1><br>
        <form id="loginForm" >
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input " type="tel" placeholder="Phone Number" id="phone" required>
                    <span class="icon is-left">
                        <i class="fas fa-phone-alt" style="color: #26a69a;"></i>
                    </span>
                    <p class="help" id="phone-error" style="text-align: left;">This number is unauthorized.</p>
                </div><br>


                <div class="control">
                    <button class="button is-primary is-fullwidth" type="submit" value="Submit">Log in</button>
                </div>
            </div>
        </form>
    </div>
</section>



