<div class="successPage" style="width:100%;height:100%;position:absolute;top:0;left:0;background:white;text-align: center;">
    <div style="margin-top: 16vh;">
        <i class="far fa-check-circle" style="font-size: 75px;color: #90db90;"></i><br><br>

        <h1 class="title">Upload</h1>
        <p class="subtitle">Your file(s) uploaded successfully!</p>
        <button class="button is-info is-rounded" style="margin-top:3em;" onclick="javascript:history.back()">OK</button>
    </div>
</div>