<div id="drag-drop-area"></div>
<input type="hidden" name="DELIVERY_ID" value="<%= routePositionsId %>" id="routePositionsId" />
    <script src="https://releases.transloadit.com/uppy/v1.31.0/uppy.min.js"></script>
    <script>
     
      const routePositionId = routePositionsId.value
      const { XHRUpload } = Uppy

      const uppy = Uppy.Core({
                        id: 'uppy', restrictions: {
                        maxFileSize: null,
                        allowedFileTypes: ['image/*', '.jpg', '.jpeg', '.png'],
            }})

        .use(Uppy.Dashboard, {
          inline: true,
          target: '#drag-drop-area'
        })
        .use(XHRUpload, { endpoint: `/images/${routePositionId}`, formData:true, fieldName:'images',})

      uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result.successful)
        console.log('failed files:', result.failed)
        if(result.failed.length===0){
            window.location.href="/success"
        }
      })
      
    </script>

<!-- <img src="/images/ea4810e2bfd3d8caa7702c99af545c22" alt=""> -->
