


<form id="uploadForm">
    <div class="custom-file-container" data-upload-id="myUniqueUploadId">
        <label
            >Upload File
            <a
                href="javascript:void(0)"
                class="custom-file-container__image-clear"
                title="Clear Image"
                >&times;</a
            ></label
        >
        <label class="custom-file-container__custom-file">
            <input
                type="file"
                class="custom-file-container__custom-file__custom-file-input"
                accept="*"
                multiple
                aria-label="Choose File"
            />
            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
            <span
                class="custom-file-container__custom-file__custom-file-control"
            ></span>
        </label>
        <div class="custom-file-container__image-preview"></div>
    </div>

   
    <div class="control">
        <button class="button is-info" type="submit" value="Submit">Submit</button>
    </div>
</form>


<!-- <img src="/images/ea4810e2bfd3d8caa7702c99af545c22" alt=""> -->